@page
@model MilkyShop.RazorWebApp.Pages.FeedbackPages.CreateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feedback.UserId" class="control-label"></label>
                <select asp-for="Feedback.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.OrderItemId" class="control-label"></label>
                <select asp-for="Feedback.OrderItemId" class ="form-control" asp-items="ViewBag.OrderItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Description" class="control-label"></label>
                <input asp-for="Feedback.Description" class="form-control" />
                <span asp-validation-for="Feedback.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Rated" class="control-label"></label>
                <input asp-for="Feedback.Rated" class="form-control" />
                <span asp-validation-for="Feedback.Rated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Id" class="control-label"></label>
                <input asp-for="Feedback.Id" class="form-control" />
                <span asp-validation-for="Feedback.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.CreatedBy" class="control-label"></label>
                <input asp-for="Feedback.CreatedBy" class="form-control" />
                <span asp-validation-for="Feedback.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.UpdatedBy" class="control-label"></label>
                <input asp-for="Feedback.UpdatedBy" class="form-control" />
                <span asp-validation-for="Feedback.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.CreatedAt" class="control-label"></label>
                <input asp-for="Feedback.CreatedAt" class="form-control" />
                <span asp-validation-for="Feedback.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.UpdatedAt" class="control-label"></label>
                <input asp-for="Feedback.UpdatedAt" class="form-control" />
                <span asp-validation-for="Feedback.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Feedback.IsDeleted" /> @Html.DisplayNameFor(model => model.Feedback.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
